*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	min-height: 100vh;
	background-color: #111;
 animation: animate 1s linear infinite;
}
@keyframes animate{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}
img-box{
	width: 800px;
	height: 800px;
	padding: 20px;
	margin: 0 10px;
}
img-box img{
	width: 800px;
	height:800px;
	padding: 20px;
	margin: 0 10px;
}